* {
  box-sizing: border-box;
}

:root {
  --box-primary: #0096FF; /*Bright blue*/
  --overlay-primary: #EE4B2B; /*Bright red*/
  --text-primary: #FFFFFF; /*White*/
  --main-font: 'Libre Franklin', 'Arial', sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, button, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p, h1, h2, h3, h4, h5, h6, li, td, i, br, a, span {
  line-height: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  overflow-x: hidden;
}

body {
  line-height: 1;
  word-wrap: break-word;
  font-size: 100%;
  font-family: var(--body-font);
  overflow: hidden;
}

p, li, td, cite {
  font-size: 1rem;
  line-height: 1.3em;
}

p {
  padding-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

figcaption {
  font-style: italic;
}

button {
  outline: 0;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea, input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], input[type="search"], input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 2px;
}

big {
  font-size: 120%;
}

small, sup, sub {
  font-size: 80%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

dd {
  margin-left: 20px;
}

kbd, tt {
  font-family: courier;
  font-size: 12px;
}

ins {
  text-decoration: underline;
}

del, strike, s {
  text-decoration: line-through;
}

dt {
  font-weight: bold;
}

address, cite, var {
  font-style: italic;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ol, ul {
  list-style: none;
  text-decoration: none;
}

