.game {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-auto-rows: 300px;
	gap: 10px;
	position: relative;
	width: 920px;
	margin: 0 auto;
	margin-top: 25px;
}


.cell {
	background-color: var(--box-primary);
}

